body{
    background-color: greenyellow;

}

canvas{
    margin-top: 150px;
}

#show_sketch{
    float: right;

}

#score{
    float:left;
    font-size: x-large;
}

#time{
    float:right;
    font-size: x-large;
}

